<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Thêm nhà tuyển dụng</h1>
    <form
      action="#"
      th:action="@{/employer/add}"
      th:object="${employerRequest}"
      method="post"
    >
      <input
        type="text"
        placeholder="Your name"
        th:field="*{name}"
      /><br /><br />
      <input
        type="text"
        placeholder="Your website"
        th:field="*{website}"
      /><br /><br />
      <input
        type="text"
        placeholder="Your email"
        th:field="*{email}"
      /><br /><br />
      <input
        type="text"
        placeholder="Your address"
        th:field="*{address}"
      /><br /><br />
      <button type="submit">Thêm</button>
    </form>
  </body>
</html>
