<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('Add employer')"></head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/job">List Job</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mt-5">
          <h1>Thêm công việc</h1>
          <form
            action="#"
            th:action="@{/job/add}"
            th:object="${job}"
            method="post"
          >
            <div class="form-group row mt-3">
              <label for="title" class="col-sm-2 col-form-label">title</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  autocomplete="off"
                  th:field="*{title}"
                />
              </div>
              <div
                class="text-danger"
                th:if="${#fields.hasErrors('title')}"
                th:errors="*{title}"
              >
                Title Error
              </div>
            </div>
            <br />

            <div class="form-group row mt-3">
              <label for="company" class="col-sm-2 col-form-label"
                >Company</label
              >
              <div class="col-sm-4">
                

                <select
                  class="form-control"
                  th:field="${job.company}"
                  th:object="${employer}"
                >
                  <option
                    th:each="employer : ${employers}"
                    th:value="${employer.name}"
                    th:text="${employer.name}"
                  ></option>
                </select>
              </div>
            </div>
            <br />

            <div class="form-group row mt-3">
              <label for="description" class="col-sm-2 col-form-label"
                >description</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  autocomplete="off"
                  th:field="*{description}"
                />
              </div>
              <div
                class="text-danger"
                th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}"
              >
                Description Error
              </div>
            </div>
            <br />

            <div class="form-group row mt-3">
              <label for="description" class="col-sm-2 col-form-label"
                >địa Chỉ</label
              >
              <div class="col-sm-4">
                <select th:field="*{city}">
                  <option th:value="'HaNoi'" th:text="HaNoi"></option>
                  <option th:value="'HoChiMinh'" th:text="HoChiMinh"></option>
                  <option th:value="'DaNang'" th:text="DaNang"></option>
                  <option th:value="'HaiPhong'" th:text="HaiPhong"></option>
                </select>
              </div>
            </div>

            <br />

            <button type="submit" style="background-color: aqua">Thêm</button>
          </form>
        </div>
      </div>
    </div>
    <a href="/">Homepage</a>
  </body>
</html>
